* {
  box-sizing: border-box;
}

.emptyState {
  position: relative;
  width: 1440px;
  height: 1054px;

  .text4 {
    flex-shrink: 0;
    line-height: 24px;
    letter-spacing: 0;
    color: var(--white, #ffffff);
    font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
  }

  .arrowDown01Round {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    overflow: hidden;
  }

  .text {
    flex-shrink: 0;
    line-height: 24px;
    letter-spacing: 0;
    color: var(--Text-Black, #0f0f0f);
    font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
  }

  .home01 {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    overflow: hidden;
  }

  .dashboard3 {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    background: var(--Background, #f9fafb);
    width: 240px;
    height: 1054px;

    .frame1618873575 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 8px;
      border-width: 0px 1px 1px 0px;
      border-style: solid;
      border-color: var(--Outline, #e5e7eb);
      padding: 24px 23px 23px 24px;

      .image9 {
        flex-shrink: 0;
        width: 170px;
        height: 34px;
      }
    }

    .menuItems {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-start;
      align-self: stretch;
      border-width: 0px 1px 0px 0px;
      border-style: solid;
      border-color: var(--Outline, #e5e7eb);
      padding-top: 24px;
      padding-bottom: 24px;
      row-gap: 8px;

      .projects {
        flex-shrink: 0;
        line-height: 22px;
        letter-spacing: 0;
        color: var(--Primary-Primary, #2a4467);
        font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 600;
      }

      .dashboard2 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 12px;
        padding: 12px 24px;
        overflow: hidden;

        .dashboard {
          display: -webkit-box;
          flex-shrink: 0;
          width: 134px;
          overflow: hidden;
          line-height: 22px;
          letter-spacing: 0;
          color: var(--Text-Grey, #6b6b6b);
          font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }
      }

      .menuItem {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 12px;
        border-width: 0px 0px 0px 3px;
        border-style: solid;
        border-color: var(--Primary-Primary, #2a4467);
        background: var(--Primary-10, #2a44671a);
        padding: 12px 24px 12px 21px;
        overflow: hidden;
      }

      .mentors {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 12px;
        padding: 12px 24px;
        overflow: hidden;
      }

      .mentors2 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 12px;
        padding: 12px 24px;
        overflow: hidden;

        .changeManagement {
          flex-shrink: 0;
          line-height: 22px;
          letter-spacing: 0;
          color: var(--Text-Grey, #6b6b6b);
          font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
        }
      }

      .menuItem2 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 12px;
        padding: 12px 24px;
        overflow: hidden;

        .profile {
          display: -webkit-box;
          flex-grow: 1;
          overflow: hidden;
          line-height: 22px;
          letter-spacing: 0;
          color: var(--Text-Grey, #6b6b6b);
          font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }
      }
    }
  }

  .headerBody {
    display: flex;
    position: absolute;
    top: 0;
    left: 240px;
    flex-direction: column;
    align-items: flex-start;
    width: 1200px;
    height: 1054px;

    .header {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      border-width: 0px 0px 1px;
      border-style: solid;
      border-color: var(--Outline, #e5e7eb);
      background: #ffffff;
      padding: 34px 64px 33px;
      min-width: 1200px;
      height: 82px;

      .dashboard4 {
        flex-shrink: 0;
        line-height: 34px;
        letter-spacing: 0;
        color: var(--Text-Black, #0f0f0f);
        font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-weight: 700;
      }

      .menuItem3 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 12px;
        border-radius: 12px;
        padding-right: 16px;
        padding-left: 16px;
        overflow: hidden;

        .avatar {
          flex-shrink: 0;
          border-radius: 50%;
          width: 40px;
          height: 40px;
        }
      }
    }

    .frame1618873729 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      background: #ffffff;
      padding: 48px 64px 0px;
      height: 916px;
      row-gap: 24px;

      .frame1618873546 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;

        .text2 {
          flex-shrink: 0;
          line-height: 34px;
          letter-spacing: 0;
          color: var(--Text-Black, #0f0f0f);
          font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
          font-weight: 600;
        }

        .frame1618873749 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          column-gap: 16px;

          .input {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            column-gap: 8px;
            border: 1px solid var(--Outline, #e5e7eb);
            border-radius: 12px;
            padding: 12px 15px;
            height: 52px;
            overflow: hidden;

            .text3 {
              flex-shrink: 0;
              line-height: 24px;
              letter-spacing: 0;
              color: var(--Text-Grey, #6b6b6b);
              font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
              font-weight: 600;
            }
          }

          .input2 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            column-gap: 8px;
            border-radius: 12px;
            background: var(--Primary-Primary, #2a4467);
            padding: 13px 16px;
            height: 52px;
            overflow: hidden;
          }
        }
      }

      .frame1000004016 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;

        .a614 {
          flex-shrink: 0;
          align-self: stretch;
          line-height: 34px;
          letter-spacing: 0;
          color: var(--Text-Black, #0f0f0f);
          font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
          font-weight: 700;
        }

        .loremIpsum {
          flex-shrink: 0;
          align-self: stretch;
          line-height: 22px;
          letter-spacing: 0;
          color: var(--Text-Grey, #6b6b6b);
          font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
        }

        .frame1618873728 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          border: 1px solid var(--Outline, #e5e7eb);
          border-radius: 8px;
          padding-right: 87px;
          padding-left: 23px;
          height: 112px;
          row-gap: 8px;
        }

        .loremIpsum2 {
          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: 16px;
          margin-left: 379px;
          border: 1px solid var(--Outline, #e5e7eb);
          border-radius: 8px;
          padding: 23px;
          width: 347px;
          overflow: hidden;

          .frame16188737282 {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: flex-start;
            row-gap: 8px;
          }

          .icon {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            border-radius: 120px;
            background: #facc151a;
            padding: 10px 9px 9px 10px;
            overflow: hidden;

            .folderLibrary {
              width: 29px;
              height: 29px;
              overflow: hidden;
            }
          }
        }
      }
    }

    .frame1000003366 {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      background: #ffffff;
      padding: 16px 64px;
      overflow: hidden;

      .poweredByAigProInc3 {
        flex-shrink: 0;
        line-height: 24px;
        letter-spacing: 0;
        color: #000000;
        font-size: 16px;

        .poweredByAigProInc {
          line-height: 24px;
          letter-spacing: 0;
          color: var(--Text-Grey, #6b6b6b);
          font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 600;
        }

        .poweredByAigProInc2 {
          line-height: 24px;
          letter-spacing: 0;
          color: var(--Primary-Primary, #2a4467);
          font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 600;
          text-decoration: underline;
        }
      }

      .frame1618873920 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 24px;

        .termsConditions {
          flex-shrink: 0;
          line-height: 24px;
          letter-spacing: 0;
          color: var(--Primary-Primary, #2a4467);
          font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 600;
          text-decoration: underline;
        }
      }
    }
  }

  .frame36893 {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    background: #00000033;
    padding-top: 48px;
    padding-bottom: 48px;
    width: 1440px;
    height: 1054px;

    .modalConfirmBooking {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 0;
      align-items: flex-start;
      justify-content: center;
      margin-right: 370px;
      margin-left: 370px;
      border-radius: 16px;
      background: #ffffff;
      padding: 32px;
      overflow: hidden;
      row-gap: 24px;

      .frame1618873528 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        justify-content: space-between;

        .text5 {
          flex-shrink: 0;
          line-height: 30px;
          letter-spacing: 0;
          color: var(--Text-Black, #0f0f0f);
          font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
          font-weight: 600;
        }
      }

      .frame1618873795 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        row-gap: 16px;

        .text6 {
          flex-shrink: 0;
          opacity: 0.5;
          line-height: 22px;
          letter-spacing: 0;
          color: var(--Text-Grey, #6b6b6b);
          font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
        }

        .input3 {
          flex-shrink: 0;
          align-self: stretch;
          line-height: 22px;
          letter-spacing: 0;
          color: var(--Text-Black, #0f0f0f);
          font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
        }

        .formInput {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 12px;

          .input4 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 8px;
            border: 1px solid var(--Outline, #e5e7eb);
            border-radius: 8px;
            padding: 16px 15px;
            height: 48px;
            overflow: hidden;
          }
        }

        .formInput2 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 12px;

          .input5 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            justify-content: space-between;
            border: 1px solid var(--Outline, #e5e7eb);
            border-radius: 8px;
            padding: 16px 15px;
            height: 48px;
            overflow: hidden;
          }
        }

        .formInput3 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 12px;

          .input6 {
            display: flex;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            column-gap: 8px;
            border: 1px solid var(--Outline, #e5e7eb);
            border-radius: 8px;
            padding: 16px 15px;
            overflow: hidden;

            .text7 {
              flex-grow: 1;
              align-self: stretch;
              opacity: 0.5;
              width: 604px;
              line-height: 22px;
              letter-spacing: 0;
              color: var(--Text-Grey, #6b6b6b);
              font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 14px;
            }
          }
        }

        .formInput4 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 12px;

          .content {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 64px;
            border-radius: 16px;
            background: var(--Background, #f9fafb);
            padding: 16px;

            .allowMultipleContrac {
              flex-grow: 1;
              line-height: 22px;
              letter-spacing: 0;
              color: var(--Text-Black, #0f0f0f);
              font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 14px;
              font-weight: 500;
            }

            .toggle {
              display: inline-flex;
              flex-shrink: 0;
              align-items: center;
              column-gap: 8px;

              .aToggleBase {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                justify-content: flex-end;
                border-radius: 12px;
                background: var(--Primary-Primary, #2a4467);
                padding: 2px;
                width: 36px;
                overflow: hidden;

                .button {
                  flex-shrink: 0;
                  border-radius: 50%;
                  box-shadow: var(
                    --Shadow-sm,
                    0px 1px 3px 0px #1018281a,
                    0px 1px 2px 0px #1018280f
                  );
                  background: var(--Base-White, #ffffff);
                  width: 16px;
                  height: 16px;
                }
              }

              .text8 {
                flex-shrink: 0;
                line-height: 24px;
                letter-spacing: 0;
                color: var(--Gray-700, #344054);
                font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 14px;
                font-weight: 500;
              }
            }
          }
        }
      }

      .frame1618873775 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        column-gap: 24px;

        .button2 {
          display: flex;
          flex-grow: 1;
          align-items: center;
          justify-content: center;
          column-gap: 8px;
          border: 1px solid var(--Outline, #e5e7eb);
          border-radius: 12px;
          background: var(--Cancel, #f3f4f6);
          padding: 14px 15px;
          overflow: hidden;
        }

        .button3 {
          display: flex;
          flex-grow: 1;
          align-items: center;
          justify-content: center;
          column-gap: 8px;
          border-radius: 12px;
          background: var(--Primary-Primary, #2a4467);
          padding: 15px 16px;
          overflow: hidden;
        }
      }
    }
  }
}
