* {
  box-sizing: border-box;
}

.emptyState {
  display: flex;
  align-items: flex-start;
  width: 1440px;
  height: 1182px;

  .home01 {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    overflow: hidden;
  }

  .dashboard3 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    background: var(--Background, #f9fafb);

    .frame1618873575 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 8px;
      border-width: 0px 1px 1px 0px;
      border-style: solid;
      border-color: var(--Outline, #e5e7eb);
      padding: 24px 23px 23px 24px;

      .image9 {
        flex-shrink: 0;
        width: 170px;
        height: 34px;
      }
    }

    .menuItems {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-start;
      align-self: stretch;
      border-width: 0px 1px 0px 0px;
      border-style: solid;
      border-color: var(--Outline, #e5e7eb);
      padding-top: 24px;
      padding-bottom: 24px;
      row-gap: 8px;

      .dashboard2 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 12px;
        padding: 12px 24px;
        overflow: hidden;

        .dashboard {
          display: -webkit-box;
          flex-shrink: 0;
          width: 134px;
          overflow: hidden;
          line-height: 22px;
          letter-spacing: 0;
          color: var(--Text-Grey, #6b6b6b);
          font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }
      }

      .mentors {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 12px;
        border-width: 0px 0px 0px 3px;
        border-style: solid;
        border-color: var(--Primary-Primary, #2a4467);
        background: var(--Primary-10, #2a44671a);
        padding: 12px 24px 12px 21px;
        overflow: hidden;

        .contractManagement {
          flex-shrink: 0;
          line-height: 22px;
          letter-spacing: 0;
          color: var(--Primary-Primary, #2a4467);
          font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 600;
        }
      }

      .mentors2 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 12px;
        padding: 12px 24px;
        overflow: hidden;

        .vendorManagement {
          flex-shrink: 0;
          line-height: 22px;
          letter-spacing: 0;
          color: var(--Text-Grey, #6b6b6b);
          font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
        }
      }

      .menuItem {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 12px;
        padding: 12px 24px;
        overflow: hidden;

        .profile {
          display: -webkit-box;
          flex-grow: 1;
          overflow: hidden;
          line-height: 22px;
          letter-spacing: 0;
          color: var(--Text-Grey, #6b6b6b);
          font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }
      }
    }
  }

  .headerBody {
    display: inline-flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;

    .header {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      border-width: 0px 0px 1px;
      border-style: solid;
      border-color: var(--Outline, #e5e7eb);
      background: #ffffff;
      padding: 34px 64px 33px;
      min-width: 1200px;
      height: 82px;

      .dashboard4 {
        flex-shrink: 0;
        line-height: 34px;
        letter-spacing: 0;
        color: var(--Text-Black, #0f0f0f);
        font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-weight: 700;
      }

      .menuItem2 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 12px;
        border-radius: 12px;
        padding-right: 16px;
        padding-left: 16px;
        overflow: hidden;

        .avatar {
          flex-shrink: 0;
          border-radius: 50%;
          width: 40px;
          height: 40px;
        }

        .text {
          flex-shrink: 0;
          line-height: 24px;
          letter-spacing: 0;
          color: var(--Text-Black, #0f0f0f);
          font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 600;
        }

        .arrowDown01Round {
          flex-shrink: 0;
          width: 24px;
          height: 24px;
          overflow: hidden;
        }
      }
    }

    .frame1618873579 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      background: #ffffff;
      padding: 48px 64px;
      overflow: hidden;
      row-gap: 32px;

      .text4 {
        flex-shrink: 0;
        line-height: 24px;
        letter-spacing: 0;
        color: var(--white, #ffffff);
        font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 600;
      }

      .frame1618873729 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        row-gap: 24px;

        .frame1618873546 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;

          .text2 {
            flex-shrink: 0;
            line-height: 34px;
            letter-spacing: 0;
            color: var(--Text-Black, #0f0f0f);
            font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 600;
          }

          .frame1618873749 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            column-gap: 16px;

            .input {
              display: inline-flex;
              flex-shrink: 0;
              align-items: center;
              column-gap: 8px;
              border: 1px solid var(--Outline, #e5e7eb);
              border-radius: 12px;
              padding: 12px 15px;
              height: 52px;
              overflow: hidden;

              .text3 {
                flex-shrink: 0;
                line-height: 24px;
                letter-spacing: 0;
                color: var(--Text-Grey, #6b6b6b);
                font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 16px;
                font-weight: 600;
              }
            }

            .input2 {
              display: inline-flex;
              flex-shrink: 0;
              align-items: center;
              column-gap: 8px;
              border-radius: 12px;
              background: var(--Primary-Primary, #2a4467);
              padding: 13px 16px;
              height: 52px;
              overflow: hidden;
            }
          }
        }

        .frame1000004017 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 16px;

          .license {
            width: 29px;
            height: 29px;
            overflow: hidden;
          }

          .icon3 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            border-radius: 120px;
            background: #6b6b6b1a;
            padding: 10px 10px 9px 9px;
            overflow: hidden;
          }

          .frame1618873728 {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: flex-start;
            row-gap: 8px;

            .loremIpsum {
              flex-shrink: 0;
              align-self: stretch;
              line-height: 22px;
              letter-spacing: 0;
              color: var(--Text-Grey, #6b6b6b);
              font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 14px;
              font-weight: 500;
            }

            .a614 {
              flex-shrink: 0;
              align-self: stretch;
              line-height: 34px;
              letter-spacing: 0;
              color: var(--Text-Black, #0f0f0f);
              font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 24px;
              font-weight: 700;
            }
          }

          .frame1618873936 {
            display: flex;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            column-gap: 16px;

            .loremIpsum2 {
              display: flex;
              flex-grow: 1;
              align-items: center;
              justify-content: center;
              column-gap: 16px;
              border: 1px solid var(--Outline, #e5e7eb);
              border-radius: 8px;
              padding: 23px;
              overflow: hidden;

              .icon {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                border-radius: 120px;
                background: #0f0f0f1a;
                padding: 10px 10px 9px 9px;
                overflow: hidden;
              }
            }

            .loremIpsum3 {
              display: flex;
              flex-grow: 1;
              align-items: center;
              justify-content: center;
              column-gap: 16px;
              border: 1px solid var(--Outline, #e5e7eb);
              border-radius: 8px;
              padding: 23px;
              overflow: hidden;

              .icon2 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                border-radius: 120px;
                background: #43a0471a;
                padding: 10px 10px 9px;
                overflow: hidden;
              }
            }

            .loremIpsum4 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              justify-content: center;
              column-gap: 16px;
              border: 1px solid var(--Outline, #e5e7eb);
              border-radius: 8px;
              padding: 23px;
              width: 347px;
              overflow: hidden;
            }
          }

          .frame1618873935 {
            display: flex;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            column-gap: 16px;

            .loremIpsum5 {
              display: flex;
              flex-grow: 1;
              align-items: center;
              justify-content: center;
              column-gap: 16px;
              border: 1px solid var(--Outline, #e5e7eb);
              border-radius: 8px;
              padding: 23px;
              overflow: hidden;

              .icon4 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                border-radius: 120px;
                background: #e539351a;
                padding: 10px 10px 9px 9px;
                overflow: hidden;
              }
            }

            .loremIpsum6 {
              display: flex;
              flex-grow: 1;
              align-items: center;
              justify-content: center;
              column-gap: 16px;
              border: 1px solid var(--Outline, #e5e7eb);
              border-radius: 8px;
              padding: 23px;
              overflow: hidden;
            }
          }
        }
      }

      .frame1618873763 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        height: 600px;
        row-gap: 24px;

        .folderOff {
          flex-shrink: 0;
          width: 56px;
          height: 56px;
          overflow: hidden;
        }

        .frame1618873764 {
          display: inline-flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          margin-right: 345px;
          margin-left: 345px;
          row-gap: 8px;

          .noContractsYet {
            flex-shrink: 0;
            line-height: 34px;
            letter-spacing: 0;
            color: var(--Text-Grey, #6b6b6b);
            font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 600;
          }

          .youDonTHaveAnyActive {
            flex-shrink: 0;
            width: 383px;
            text-align: center;
            line-height: 22px;
            letter-spacing: 0;
            color: var(--Text-Grey, #6b6b6b);
            font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
          }
        }

        .input3 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 8px;
          margin-right: 445px;
          margin-left: 445px;
          border-radius: 12px;
          background: var(--Primary-Primary, #2a4467);
          padding: 13px 16px;
          height: 52px;
          overflow: hidden;
        }
      }
    }

    .frame1000003366 {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      background: #ffffff;
      padding: 16px 64px;
      overflow: hidden;

      .poweredByAigProInc3 {
        flex-shrink: 0;
        line-height: 24px;
        letter-spacing: 0;
        color: #000000;
        font-size: 16px;

        .poweredByAigProInc {
          line-height: 24px;
          letter-spacing: 0;
          color: var(--Text-Grey, #6b6b6b);
          font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 600;
        }

        .poweredByAigProInc2 {
          line-height: 24px;
          letter-spacing: 0;
          color: var(--Primary-Primary, #2a4467);
          font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 600;
          text-decoration: underline;
        }
      }

      .frame1618873920 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 24px;

        .termsConditions {
          flex-shrink: 0;
          line-height: 24px;
          letter-spacing: 0;
          color: var(--Primary-Primary, #2a4467);
          font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 600;
          text-decoration: underline;
        }
      }
    }
  }
}
