* {
  box-sizing: border-box;
}

.frame1618873571 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid var(--Outline, #eaecf0);
  border-radius: 16px;
  background: #ffffff;
  padding: 19px;
  width: 342px;
  height: 178px;
  row-gap: 16px;

  .frame1618873310 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    column-gap: 8px;

    .avatar {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      border-radius: 200px;
      width: 40px;
      height: 40px;
    }

    .frame1618873304 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-start;
      justify-content: center;
      row-gap: 4px;

      .text {
        display: -webkit-box;
        flex-shrink: 0;
        align-self: stretch;
        overflow: hidden;
        line-height: 22px;
        letter-spacing: 0;
        color: var(--Text-Dark-Grey, #3d3d3d);
        font-family: Geist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 500;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }

      .text2 {
        flex-shrink: 0;
        line-height: 13px;
        letter-spacing: 0;
        color: var(--Text-Placeholder, #6c727e);
        font-family: Geist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 10px;
      }
    }
  }

  .frame1618873570 {
    display: inline-flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    row-gap: 8px;

    .text5 {
      flex-shrink: 0;
      line-height: 22px;
      letter-spacing: 0;
      color: #4b5563;
      font-family: Geist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 500;
    }

    .text3 {
      flex-shrink: 0;
      line-height: 22px;
      letter-spacing: 0;
      color: #6c727e;
      font-family: Geist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
    }

    .linearMessagesConver {
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      overflow: hidden;
    }

    .frame1618873925 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      column-gap: 8px;
      width: 124px;
    }

    .button {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 24px;
      border-radius: 8px;
      overflow: hidden;

      .frame1618873308 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        column-gap: 8px;

        .text4 {
          flex-shrink: 0;
          line-height: 22px;
          letter-spacing: 0;
          color: var(--Primary, #1d5bff);
          font-family: Geist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          text-decoration: underline;
        }

        .linearEssentionalUic {
          flex-shrink: 0;
          width: 16px;
          height: 16px;
          overflow: hidden;
        }
      }
    }

    .button2 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 24px;
      border-radius: 8px;
      overflow: hidden;
    }

    .button3 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 24px;
      border-radius: 8px;
      overflow: hidden;

      .frame16188739252 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 8px;
      }
    }
  }
}
