* {
  box-sizing: border-box;
}

.frame1618873760 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 16px;
  width: 800px;
  height: 1434px;
  overflow: hidden;

  .frame36887 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    background: var(--Background, #f9fafb);
    padding: 24px;

    .frame1618873835 {
      display: flex;
      flex-grow: 1;
      align-items: center;
      column-gap: 16px;
      padding-right: 8px;
      padding-left: 8px;

      .autoWrapper {
        position: relative;
        flex-shrink: 0;
        width: 24px;
        height: 24px;

        .arrowRight02Round {
          position: absolute;
          top: 0;
          left: 0;
          width: 24px;
          height: 24px;
          overflow: hidden;
          rotate: -180deg;
        }
      }

      .projectDetails {
        flex-grow: 1;
        line-height: 34px;
        letter-spacing: 0;
        color: var(--Primary-Primary, #2a4467);
        font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-weight: 600;
      }
    }

    .cancel01 {
      flex-shrink: 0;
      width: 24px;
      height: 24px;
      overflow: hidden;
    }
  }

  .frame1618873759 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    align-self: stretch;
    background: #ffffff;
    padding: 32px 24px 64px;
    row-gap: 32px;

    .text {
      flex-shrink: 0;
      line-height: 30px;
      letter-spacing: 0;
      color: var(--Text-Black, #0f0f0f);
      font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 600;
    }

    .frame1618873785 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 24px;

      .frame1618873749 {
        display: inline-flex;
        flex-grow: 1;
        align-items: center;
        justify-content: flex-end;
        column-gap: 16px;

        .input {
          display: inline-flex;
          flex-grow: 1;
          flex-shrink: 0;
          align-items: center;
          column-gap: 8px;
          margin-left: 282px;
          border: 1px solid var(--Outline, #e5e7eb);
          border-radius: 12px;
          padding: 12px 15px;
          height: 52px;
          overflow: hidden;

          .share08 {
            flex-shrink: 0;
            width: 20px;
            height: 20px;
            overflow: hidden;
          }

          .text2 {
            flex-shrink: 0;
            line-height: 24px;
            letter-spacing: 0;
            color: var(--Text-Grey, #6b6b6b);
            font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: 600;
          }
        }
      }
    }

    .frame1618873942 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-start;
      align-self: stretch;
      row-gap: 24px;

      .horizontalTabs {
        position: relative;
        flex-shrink: 0;
        align-self: stretch;
        height: 42px;

        .divider {
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          background: var(--Outline, #e5e7eb);
          width: 752px;
          height: 1px;
        }

        .tabs {
          display: inline-flex;
          position: absolute;
          top: 0;
          left: 0;
          align-items: flex-start;
          column-gap: 16px;
          width: 225px;
          height: 42px;

          .aTabButtonBase {
            display: inline-flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            overflow: hidden;

            .text3 {
              flex-shrink: 0;
              padding: 0px 4px 16px;
              line-height: 24px;
              letter-spacing: 0;
              color: var(--Primary-Primary, #2a4467);
              font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
              font-weight: 600;
            }

            .bottomBorder {
              flex-shrink: 0;
              align-self: stretch;
              background: var(--Primary-Primary, #2a4467);
              height: 2px;
            }
          }

          .text4 {
            flex-shrink: 0;
            padding: 0px 4px 18px;
            width: 129px;
            height: 42px;
            text-align: center;
            line-height: 24px;
            letter-spacing: 0;
            color: var(--Text-Grey, #6b6b6b);
            font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: 600;
          }
        }
      }

      .frame1618873940 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        row-gap: 48px;

        .frame16188737692 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 24px;

          .text5 {
            flex-shrink: 0;
            line-height: 28px;
            letter-spacing: 0;
            color: var(--Text-Grey, #6b6b6b);
            font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 18px;
          }

          .frame1618873767 {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: flex-start;
            row-gap: 16px;
          }

          .frame16188737672 {
            display: flex;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            column-gap: 22px;

            .text6 {
              flex-shrink: 0;
              line-height: 28px;
              letter-spacing: 0;
              color: var(--Text-Black, #0f0f0f);
              font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 18px;
              font-weight: 600;
            }

            .frame1618873765 {
              display: flex;
              flex-direction: column;
              flex-grow: 1;
              align-items: flex-start;
              justify-content: center;
              row-gap: 16px;
            }
          }

          .frame1618873768 {
            display: flex;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            column-gap: 22px;
          }

          .frame1618873769 {
            display: flex;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            column-gap: 22px;

            .frame16188737652 {
              display: flex;
              flex-direction: column;
              flex-grow: 1;
              align-items: flex-start;
              justify-content: center;
              row-gap: 16px;

              .frame1618873751 {
                display: inline-flex;
                flex-shrink: 0;
                align-items: center;
                align-self: stretch;
                justify-content: center;
                column-gap: 10px;
                margin-right: 282px;
                border-radius: 12px;
                background: #43a0471a;
                padding: 6px 18px;

                .text7 {
                  flex-shrink: 0;
                  line-height: 24px;
                  letter-spacing: 0;
                  color: #43a047;
                  font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 16px;
                  font-weight: 600;
                }
              }
            }
          }

          .frame1618873766 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            row-gap: 16px;

            .text8 {
              flex-shrink: 0;
              line-height: 28px;
              letter-spacing: 0;
              color: #286ee0;
              font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 18px;
              text-decoration: underline;
            }
          }

          .frame16188737662 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            row-gap: 16px;

            .text9 {
              flex-shrink: 0;
              align-self: stretch;
              width: 752px;
              line-height: 28px;
              letter-spacing: 0;
              color: var(--Text-Black, #0f0f0f);
              font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 18px;
              font-weight: 600;
            }
          }
        }

        .frame1618873778 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 16px;

          .frame1618873777 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            row-gap: 24px;

            .frame1618873876 {
              display: flex;
              flex-shrink: 0;
              align-items: flex-start;
              align-self: stretch;
              column-gap: 24px;

              .loremIpsum {
                display: flex;
                flex-grow: 1;
                align-items: center;
                justify-content: center;
                column-gap: 16px;
                border: 1px solid var(--Outline, #e5e7eb);
                border-radius: 8px;
                background: #ffffff;
                padding: 21px 23px;
                overflow: hidden;

                .image2 {
                  flex-shrink: 0;
                  width: 48px;
                  height: 48px;
                }

                .frame1618873728 {
                  display: flex;
                  flex-direction: column;
                  flex-grow: 1;
                  align-items: flex-start;
                  row-gap: 8px;

                  .a614 {
                    flex-shrink: 0;
                    align-self: stretch;
                    line-height: 24px;
                    letter-spacing: 0;
                    color: var(--Text-Black, #0f0f0f);
                    font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 16px;
                    font-weight: 600;
                  }

                  .frame1618873750 {
                    display: flex;
                    flex-shrink: 0;
                    align-items: center;
                    align-self: stretch;
                    column-gap: 8px;

                    .text10 {
                      flex-shrink: 0;
                      line-height: 22px;
                      letter-spacing: 0;
                      color: var(--Text-Grey, #6b6b6b);
                      font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                      font-size: 14px;
                    }

                    .ellipse1282 {
                      flex-shrink: 0;
                      border-radius: 50%;
                      background: var(--Text-Grey, #6b6b6b);
                      width: 4px;
                      height: 4px;
                    }
                  }
                }

                .frame1618873939 {
                  display: inline-flex;
                  flex-shrink: 0;
                  align-items: center;
                  column-gap: 16px;

                  .elements {
                    display: flex;
                    flex-shrink: 0;
                    align-items: center;
                    border-radius: 80px;
                    background: #2a44671a;
                    padding: 10px 8px;
                    overflow: hidden;

                    .ellipse1335 {
                      display: flex;
                      flex-grow: 1;
                      align-items: center;
                      border-radius: 50%;
                      padding: 3px 6px;

                      .ellipse1334 {
                        border-radius: 50%;
                        width: 5px;
                        height: 5px;
                      }
                    }
                  }

                  .icon {
                    display: flex;
                    flex-shrink: 0;
                    align-items: center;
                    border-radius: 80px;
                    background: #3b82f61a;
                    padding: 6px;
                    overflow: hidden;

                    .download04 {
                      width: 19px;
                      height: 19px;
                      overflow: hidden;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .frame1618873796 {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      column-gap: 24px;

      .button {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        column-gap: 8px;
        border: 1px solid var(--Outline, #e5e7eb);
        border-radius: 12px;
        background: var(--Cancel, #f3f4f6);
        padding: 14px 15px;
        overflow: hidden;

        .text11 {
          flex-shrink: 0;
          line-height: 24px;
          letter-spacing: 0;
          color: var(--Text-Black, #0f0f0f);
          font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 600;
        }
      }

      .button2 {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        column-gap: 8px;
        border-radius: 12px;
        background: var(--Primary-Primary, #2a4467);
        padding: 15px 16px;
        overflow: hidden;

        .text12 {
          flex-shrink: 0;
          line-height: 24px;
          letter-spacing: 0;
          color: var(--white, #ffffff);
          font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  }
}
