* {
  box-sizing: border-box;
}

.emptyState {
  display: flex;
  align-items: flex-start;
  width: 1440px;
  height: 1638px;

  .dashboard3 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    margin-right: 1200px;
    background: var(--Background, #f9fafb);

    .frame1618873575 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 8px;
      border-width: 0px 1px 1px 0px;
      border-style: solid;
      border-color: var(--Outline, #e5e7eb);
      padding: 24px 23px 23px 24px;

      .image9 {
        flex-shrink: 0;
        width: 170px;
        height: 34px;
      }
    }

    .menuItems {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-start;
      align-self: stretch;
      border-width: 0px 1px 0px 0px;
      border-style: solid;
      border-color: var(--Outline, #e5e7eb);
      padding-top: 24px;
      padding-bottom: 24px;
      row-gap: 8px;

      .home01 {
        flex-shrink: 0;
        width: 20px;
        height: 20px;
        overflow: hidden;
      }

      .dashboard2 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 12px;
        padding: 12px 24px;
        overflow: hidden;

        .dashboard {
          display: -webkit-box;
          flex-shrink: 0;
          width: 134px;
          overflow: hidden;
          line-height: 22px;
          letter-spacing: 0;
          color: var(--Text-Grey, #6b6b6b);
          font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }
      }

      .mentors {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 12px;
        border-width: 0px 0px 0px 3px;
        border-style: solid;
        border-color: var(--Primary-Primary, #2a4467);
        background: var(--Primary-10, #2a44671a);
        padding: 12px 24px 12px 21px;
        overflow: hidden;

        .contractManagement {
          flex-shrink: 0;
          line-height: 22px;
          letter-spacing: 0;
          color: var(--Primary-Primary, #2a4467);
          font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 600;
        }
      }

      .frame1618873300 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        margin-right: -1px;
        padding-right: 10px;
        padding-left: 24px;

        .contracts {
          flex-shrink: 0;
          align-self: stretch;
          padding: 8px 0px 8px 16px;
          line-height: 22px;
          letter-spacing: 0;
          color: var(--Primary, #0b003a);
          font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
          font-weight: 500;
        }

        .frame1618873294 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 12px;
          box-shadow: -1px 0 var(--Outline-100, #e5e7eb);
          padding: 8px 0px 8px 16px;

          .masterServiceAgreeme {
            flex-shrink: 0;
            line-height: 22px;
            letter-spacing: 0;
            color: var(--Text-Grey, #6b6b6b);
            font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 500;
          }
        }
      }

      .mentors2 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 12px;
        padding: 12px 24px;
        overflow: hidden;

        .vendorManagement {
          flex-shrink: 0;
          line-height: 22px;
          letter-spacing: 0;
          color: var(--Text-Grey, #6b6b6b);
          font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
        }
      }

      .menuItem {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 12px;
        padding: 12px 24px;
        overflow: hidden;

        .profile {
          display: -webkit-box;
          flex-grow: 1;
          overflow: hidden;
          line-height: 22px;
          letter-spacing: 0;
          color: var(--Text-Grey, #6b6b6b);
          font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
}
