* {
  box-sizing: border-box;
}

.collaborationTool {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: var(--BG-modal, #00000033);
  width: 1440px;
  height: 1480px;
  backdrop-filter: blur(3px);

  .frame1618874431 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    padding: 48px 32px 1400px;
    width: 900px;
    min-width: 900px;

    .documentEditor {
      flex-shrink: 0;
      line-height: 24px;
      letter-spacing: 0;
      color: var(--Text-Header, #272727);
      font-family: Geist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 600;
    }

    .frame1618874276 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      column-gap: 8px;
      border-radius: 80px;
      background: var(--Outline-100, #e5e7eb);
      padding: 6px;

      .cancel01 {
        flex-shrink: 0;
        width: 19px;
        height: 19px;
        overflow: hidden;
      }
    }
  }

  .frame1618873815 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    border: 1px solid var(--Outline, #e5e7eb);
    background: #f8f8f8;
    padding: 19px 23px;
    row-gap: 24px;

    .toggle {
      display: inline-flex;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      justify-content: center;
      column-gap: 4px;
      margin-right: 170px;
      border-radius: 100px;
      background: var(--Cancel, #f3f4f6);
      padding: 4px;
      overflow: hidden;

      .button {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        column-gap: 8px;
        border-radius: 100px;
        background: var(--Primary-Primary, #2a4467);
        padding: 8px 24px;

        .comments {
          flex-shrink: 0;
          line-height: 24px;
          letter-spacing: 0;
          color: #ffffff;
          font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 600;
        }
      }

      .log {
        flex-shrink: 0;
        padding: 8px 20px;
        line-height: 24px;
        letter-spacing: 0;
        color: var(--Text-Grey, #6b6b6b);
        font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 600;
      }
    }

    .frame1618873849 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;

      .commentsAndActivity {
        flex-shrink: 0;
        line-height: 28px;
        letter-spacing: 0;
        color: var(--Text-Black, #0f0f0f);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 600;
      }

      .frame1618873986 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;

        .frame1618873610 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          column-gap: 7px;
          border-radius: 67px;
          padding: 8px;
          width: 32px;
          height: 32px;
        }

        .frame16188736102 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          column-gap: 7px;
          margin-left: -12px;
          border-radius: 67px;
          padding: 8px;
          width: 32px;
          height: 32px;
        }
      }
    }

    .frame1618873085 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 12px;
      border: 1px solid var(--Outline-50, #e5e7eb80);
      border-radius: 12px;
      background: #ffffff;
      padding-right: 16px;
      padding-left: 16px;
      height: 56px;

      .hello {
        flex-shrink: 0;
        line-height: 21px;
        letter-spacing: 0;
        color: var(--Text-Black, #181818);
        font-family: "DM Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
      }
    }

    .activityFeed {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      height: 1304px;
      row-gap: 24px;

      .dot {
        border-radius: 50%;
        background: var(--Success-500, #12b76a);
        width: 8px;
        height: 8px;
      }

      .subtext {
        flex-shrink: 0;
        line-height: 16px;
        letter-spacing: 0;
        color: var(--Text-Grey, #626262);
        font-family: Geist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
      }

      .text {
        flex-shrink: 0;
        line-height: 24px;
        letter-spacing: 0;
        color: var(--Text-Dark-Grey, #3f4756);
        font-family: Geist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }

      .avatar {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        border-radius: 200px;
        background: var(--Avatar-user-square-Kate-Morrison-color-background);
        background-color: #dbc0dd;
        padding-top: 36px;
        padding-left: 36px;
        background-image: url(../image/mjstuxb3-r2w9fen.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        .aAvatarOnlineIndicat {
          outline-width: 2px;
          outline-style: solid;
          outline-color: var(--Base-White, #ffffff);
          border-radius: 6px;
          background: var(--Success-500, #12b76a);
          width: 12px;
          height: 12px;
          overflow: hidden;
        }
      }

      .aFeedItemBase {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        height: 76px;

        .avatarWrap {
          display: inline-flex;
          flex-direction: column;
          align-items: center;
          padding-bottom: 4px;
          height: 76px;
          row-gap: 4px;
        }

        .content {
          display: flex;
          flex-direction: column;
          align-items: center;

          .textAndSubtext {
            display: flex;
            position: relative;
            align-items: center;
            column-gap: 8px;
            width: 322px;

            .aDot {
              display: flex;
              position: absolute;
              top: 1px;
              right: 0;
              flex-shrink: 0;
              align-items: center;
              padding: 1px;
              width: 10px;
              height: 10px;
              overflow: hidden;
            }
          }

          .message {
            margin: 4px 0px 0px;
            width: 322px;
            line-height: 24px;
            letter-spacing: 0;
            color: var(--Text-Black, #0f0f0f);
            font-family: Geist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
          }
        }
      }

      .aFeedItemBase2 {
        display: flex;
        position: relative;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        column-gap: 12px;

        .avatarWrap2 {
          display: inline-flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          padding-bottom: 4px;
          row-gap: 4px;
        }

        .content3 {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: flex-start;
          row-gap: 4px;

          .textAndSubtext2 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 8px;
          }

          .message2 {
            flex-shrink: 0;
            align-self: stretch;
            line-height: 24px;
            letter-spacing: 0;
            color: var(--Text-Black, #0f0f0f);
            font-family: Geist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
          }

          .content2 {
            display: flex;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            height: 40px;

            .featuredIcon {
              display: flex;
              align-items: center;
              margin-top: -2px;
              margin-left: -2px;
              border-radius: 28px;
              background: var(--Primary-100, #f4ebff);
              padding: 8px;

              .file04 {
                width: 16px;
                height: 16px;
                overflow: hidden;
              }
            }

            .textAndSupportingTex {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              margin-left: 10px;

              .text2 {
                flex-shrink: 0;
                align-self: stretch;
                line-height: 20px;
                letter-spacing: 0;
                color: var(--Gray-700, #344054);
                font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 14px;
                font-weight: 500;
              }

              .supportingText {
                flex-shrink: 0;
                align-self: stretch;
                line-height: 20px;
                letter-spacing: 0;
                color: var(--Gray-600, #475467);
                font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 14px;
              }
            }
          }
        }

        .aDot2 {
          display: flex;
          position: absolute;
          top: 0;
          right: -10px;
          flex-shrink: 0;
          align-items: center;
          padding: 1px;
          width: 10px;
          height: 10px;
          overflow: hidden;
        }
      }
    }
  }
}
