* {
  box-sizing: border-box;
}

.emptyState {
  display: flex;
  align-items: flex-start;
  width: 1440px;
  height: 1638px;

  .vendorManagement {
    flex-shrink: 0;
    line-height: 22px;
    letter-spacing: 0;
    color: var(--Text-Grey, #6b6b6b);
    font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
  }

  .home01 {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    overflow: hidden;
  }

  .dashboard3 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    background: var(--Background, #f9fafb);

    .frame1618873575 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 8px;
      border-width: 0px 1px 1px 0px;
      border-style: solid;
      border-color: var(--Outline, #e5e7eb);
      padding: 24px 23px 23px 24px;

      .image9 {
        flex-shrink: 0;
        width: 170px;
        height: 34px;
      }
    }

    .menuItems {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      border-width: 0px 1px 0px 0px;
      border-style: solid;
      border-color: var(--Outline, #e5e7eb);
      padding-top: 24px;
      padding-bottom: 24px;
      height: 1318px;
      row-gap: 8px;

      .dashboard2 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 12px;
        padding: 12px 24px;
        overflow: hidden;

        .dashboard {
          display: -webkit-box;
          flex-shrink: 0;
          width: 134px;
          overflow: hidden;
          line-height: 22px;
          letter-spacing: 0;
          color: var(--Text-Grey, #6b6b6b);
          font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }
      }

      .mentors {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 12px;
        border-width: 0px 0px 0px 3px;
        border-style: solid;
        border-color: var(--Primary-Primary, #2a4467);
        background: var(--Primary-10, #2a44671a);
        padding: 12px 24px 12px 21px;
        overflow: hidden;

        .contractManagement {
          flex-shrink: 0;
          line-height: 22px;
          letter-spacing: 0;
          color: var(--Primary-Primary, #2a4467);
          font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 600;
        }
      }

      .mentors2 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 12px;
        padding: 12px 24px;
        overflow: hidden;
      }

      .menuItem {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 12px;
        padding: 12px 24px;
        overflow: hidden;

        .profile {
          display: -webkit-box;
          flex-grow: 1;
          overflow: hidden;
          line-height: 22px;
          letter-spacing: 0;
          color: var(--Text-Grey, #6b6b6b);
          font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }
      }
    }
  }

  .headerBody {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;

    .text {
      flex-shrink: 0;
      line-height: 24px;
      letter-spacing: 0;
      color: var(--Text-Black, #0f0f0f);
      font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 600;
    }

    .header {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      border-width: 0px 0px 1px;
      border-style: solid;
      border-color: var(--Outline, #e5e7eb);
      background: #ffffff;
      padding: 34px 64px 33px;
      min-width: 1200px;
      height: 82px;

      .dashboard4 {
        flex-shrink: 0;
        line-height: 34px;
        letter-spacing: 0;
        color: var(--Text-Black, #0f0f0f);
        font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-weight: 700;
      }

      .menuItem2 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 12px;
        border-radius: 12px;
        padding-right: 16px;
        padding-left: 16px;
        overflow: hidden;

        .avatar {
          flex-shrink: 0;
          border-radius: 50%;
          width: 40px;
          height: 40px;
        }

        .arrowDown01Round {
          flex-shrink: 0;
          width: 24px;
          height: 24px;
          overflow: hidden;
        }
      }
    }

    .frame1618873580 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      background: #ffffff;
      padding: 48px 64px;
      height: 1500px;
      overflow: hidden;
      row-gap: 48px;

      .frame1618873784 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 8px;

        .arrowRight02Round {
          flex-shrink: 0;
          width: 18px;
          height: 18px;
          overflow: hidden;
        }

        .text2 {
          flex-shrink: 0;
          line-height: 22px;
          letter-spacing: 0;
          color: var(--Text-Grey, #6b6b6b);
          font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 600;
        }

        .text3 {
          flex-shrink: 0;
          line-height: 22px;
          letter-spacing: 0;
          color: var(--Text-Black, #0f0f0f);
          font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 600;
        }
      }

      .frame2147228517 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 32px;

        .frame1618873757 {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: flex-start;
          row-gap: 8px;

          .constructionServices {
            flex-shrink: 0;
            align-self: stretch;
            line-height: 34px;
            letter-spacing: 0;
            color: var(--Text-Black, #0f0f0f);
            font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 600;
          }

          .text4 {
            flex-shrink: 0;
            align-self: stretch;
            line-height: 22px;
            letter-spacing: 0;
            color: var(--Text-Grey, #6b6b6b);
            font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
          }
        }

        .frame1618873752 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          column-gap: 12px;
          border-radius: 14px;
          background: #43a0471a;
          padding: 7px 21px;

          .text5 {
            flex-shrink: 0;
            line-height: 24px;
            letter-spacing: 0;
            color: var(--Status-Active, #43a047);
            font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: 600;
          }
        }
      }

      .frame1618873872 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        row-gap: 24px;

        .horizontalTabs {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;

          .tabs {
            display: inline-flex;
            position: relative;
            flex-grow: 1;
            align-items: flex-start;
            column-gap: 16px;
            margin-right: -8px;

            .divider {
              position: absolute;
              right: 8px;
              bottom: 0;
              left: 0;
              flex-shrink: 0;
              align-self: stretch;
              background: var(--Outline, #e5e7eb);
              width: 1072px;
              height: 1px;
            }

            .text6 {
              flex-shrink: 0;
              z-index: 1;
              padding: 0px 4px 18px;
              width: 80px;
              height: 42px;
              text-align: center;
              line-height: 24px;
              letter-spacing: 0;
              color: var(--Text-Grey, #6b6b6b);
              font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
              font-weight: 600;
            }

            .text7 {
              flex-shrink: 0;
              z-index: 2;
              padding: 0px 4px 18px;
              width: 172px;
              height: 42px;
              text-align: center;
              line-height: 24px;
              letter-spacing: 0;
              color: var(--Text-Grey, #6b6b6b);
              font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
              font-weight: 600;
            }

            .text8 {
              flex-shrink: 0;
              z-index: 3;
              padding: 0px 4px 18px;
              width: 59px;
              height: 42px;
              text-align: center;
              line-height: 24px;
              letter-spacing: 0;
              color: var(--Text-Grey, #6b6b6b);
              font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
              font-weight: 600;
            }

            .text9 {
              flex-shrink: 0;
              z-index: 4;
              padding: 0px 4px 18px;
              width: 62px;
              height: 42px;
              text-align: center;
              line-height: 24px;
              letter-spacing: 0;
              color: var(--Text-Grey, #6b6b6b);
              font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
              font-weight: 600;
            }

            .text10 {
              flex-shrink: 0;
              z-index: 5;
              padding: 0px 4px 18px;
              width: 33px;
              height: 42px;
              text-align: center;
              line-height: 24px;
              letter-spacing: 0;
              color: var(--Text-Grey, #6b6b6b);
              font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
              font-weight: 600;
            }

            .text11 {
              flex-shrink: 0;
              z-index: 6;
              padding: 0px 4px 18px;
              width: 40px;
              height: 42px;
              text-align: center;
              line-height: 24px;
              letter-spacing: 0;
              color: var(--Text-Grey, #6b6b6b);
              font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
              font-weight: 600;
            }

            .text12 {
              flex-shrink: 0;
              z-index: 7;
              padding: 0px 4px 18px;
              width: 87px;
              height: 42px;
              text-align: center;
              line-height: 24px;
              letter-spacing: 0;
              color: var(--Text-Grey, #6b6b6b);
              font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
              font-weight: 600;
            }

            .text13 {
              flex-shrink: 0;
              z-index: 8;
              padding: 0px 4px 18px;
              width: 102px;
              height: 42px;
              text-align: center;
              line-height: 24px;
              letter-spacing: 0;
              color: var(--Text-Grey, #6b6b6b);
              font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
              font-weight: 600;
            }

            .aTabButtonBase {
              display: inline-flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: center;
              justify-content: center;
              z-index: 9;
              overflow: hidden;

              .text14 {
                flex-shrink: 0;
                padding: 0px 4px 16px;
                line-height: 24px;
                letter-spacing: 0;
                color: var(--Primary-Primary, #2a4467);
                font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 16px;
                font-weight: 600;
              }

              .bottomBorder {
                flex-shrink: 0;
                align-self: stretch;
                background: var(--Primary-Primary, #2a4467);
                height: 2px;
              }
            }

            .text15 {
              flex-shrink: 0;
              z-index: 10;
              padding: 0px 4px 18px;
              width: 69px;
              height: 42px;
              text-align: center;
              line-height: 24px;
              letter-spacing: 0;
              color: var(--Text-Grey, #6b6b6b);
              font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
              font-weight: 600;
            }

            .text16 {
              flex-shrink: 0;
              z-index: 11;
              padding: 0px 0px 18px;
              width: 121px;
              height: 42px;
              text-align: center;
              line-height: 24px;
              letter-spacing: 0;
              color: var(--Text-Grey, #6b6b6b);
              font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
              font-weight: 600;
            }
          }
        }

        .frame1618873832 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 32px;

          .text17 {
            flex-shrink: 0;
            line-height: 30px;
            letter-spacing: 0;
            color: var(--Text-Black, #0f0f0f);
            font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 20px;
            font-weight: 600;
          }

          .frame1618873785 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            justify-content: center;
            column-gap: 24px;

            .frame1618873775 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              justify-content: flex-end;
              column-gap: 16px;
              width: 939px;

              .input {
                display: inline-flex;
                flex-shrink: 0;
                align-items: center;
                align-self: stretch;
                column-gap: 8px;
                border: 1px solid var(--Outline, #e5e7eb);
                border-radius: 12px;
                padding: 12px 15px;
                overflow: hidden;
              }

              .button {
                display: inline-flex;
                flex-shrink: 0;
                align-items: center;
                justify-content: center;
                column-gap: 8px;
                border: 1px solid var(--Outline, #e5e7eb);
                border-radius: 12px;
                background: var(--Cancel, #f3f4f6);
                padding: 14px 15px;
                overflow: hidden;
              }
            }
          }

          .frame1618873873 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            row-gap: 32px;

            .loremIpsum2 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              justify-content: center;
              column-gap: 16px;
              border: 1px solid var(--Outline, #e5e7eb);
              border-radius: 8px;
              background: #ffffff;
              padding: 23px;
              width: 364px;
              overflow: hidden;

              .frame1618873728 {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                align-items: flex-start;
                row-gap: 8px;

                .loremIpsum {
                  flex-shrink: 0;
                  align-self: stretch;
                  line-height: 22px;
                  letter-spacing: 0;
                  color: var(--Text-Grey, #6b6b6b);
                  font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 14px;
                  font-weight: 500;
                }

                .a614 {
                  flex-shrink: 0;
                  align-self: stretch;
                  line-height: 34px;
                  letter-spacing: 0;
                  color: var(--Text-Black, #0f0f0f);
                  font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 24px;
                  font-weight: 700;
                }
              }

              .icon {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                border-radius: 120px;
                background: #43a0471a;
                padding: 10px 9px 9px 10px;
                overflow: hidden;

                .file02 {
                  width: 29px;
                  height: 29px;
                  overflow: hidden;
                }
              }
            }

            .frame1618873778 {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: flex-start;
              align-self: stretch;
              row-gap: 16px;

              .frame1618873777 {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                align-items: flex-start;
                align-self: stretch;
                row-gap: 24px;

                .image2 {
                  flex-shrink: 0;
                  width: 48px;
                  height: 48px;
                }

                .icon2 {
                  display: flex;
                  flex-shrink: 0;
                  align-items: center;
                  border-radius: 80px;
                  background: #3b82f61a;
                  padding: 6px;
                  overflow: hidden;

                  .download04 {
                    width: 19px;
                    height: 19px;
                    overflow: hidden;
                  }
                }

                .frame16188737282 {
                  display: flex;
                  flex-direction: column;
                  flex-grow: 1;
                  align-items: flex-start;
                  row-gap: 8px;

                  .a6142 {
                    flex-shrink: 0;
                    align-self: stretch;
                    line-height: 24px;
                    letter-spacing: 0;
                    color: var(--Text-Black, #0f0f0f);
                    font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 16px;
                    font-weight: 600;
                  }

                  .frame1618873750 {
                    display: flex;
                    flex-shrink: 0;
                    align-items: center;
                    align-self: stretch;
                    column-gap: 8px;

                    .text18 {
                      flex-shrink: 0;
                      line-height: 22px;
                      letter-spacing: 0;
                      color: var(--Text-Grey, #6b6b6b);
                      font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                      font-size: 14px;
                    }

                    .ellipse1282 {
                      flex-shrink: 0;
                      border-radius: 50%;
                      background: var(--Text-Grey, #6b6b6b);
                      width: 4px;
                      height: 4px;
                    }
                  }
                }

                .loremIpsum3 {
                  display: flex;
                  flex-grow: 1;
                  align-items: center;
                  justify-content: center;
                  column-gap: 16px;
                  border: 1px solid var(--Outline, #e5e7eb);
                  border-radius: 8px;
                  background: #ffffff;
                  padding: 21px 23px;
                  overflow: hidden;

                  .elements {
                    display: flex;
                    flex-shrink: 0;
                    align-items: center;
                    border-radius: 80px;
                    background: #2a44671a;
                    padding: 10px 8px;
                    overflow: hidden;

                    .ellipse1335 {
                      display: flex;
                      flex-grow: 1;
                      align-items: center;
                      border-radius: 50%;
                      padding: 3px 6px;

                      .ellipse1334 {
                        border-radius: 50%;
                        width: 5px;
                        height: 5px;
                      }
                    }
                  }
                }

                .frame1618873876 {
                  display: flex;
                  flex-shrink: 0;
                  align-items: flex-start;
                  align-self: stretch;
                  column-gap: 24px;
                }

                .frame1618873877 {
                  display: flex;
                  flex-shrink: 0;
                  align-items: flex-start;
                  align-self: stretch;
                  column-gap: 24px;

                  .loremIpsum4 {
                    display: flex;
                    flex-grow: 1;
                    align-items: center;
                    justify-content: center;
                    column-gap: 16px;
                    border: 1px solid var(--Outline, #e5e7eb);
                    border-radius: 8px;
                    background: #ffffff;
                    padding: 21px 23px;
                    overflow: hidden;
                  }
                }
              }
            }
          }
        }
      }
    }

    .frame1000003366 {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      background: #ffffff;
      padding: 16px 64px;
      overflow: hidden;

      .poweredByAigProInc3 {
        flex-shrink: 0;
        line-height: 24px;
        letter-spacing: 0;
        color: #000000;
        font-size: 16px;

        .poweredByAigProInc {
          line-height: 24px;
          letter-spacing: 0;
          color: var(--Text-Grey, #6b6b6b);
          font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 600;
        }

        .poweredByAigProInc2 {
          line-height: 24px;
          letter-spacing: 0;
          color: var(--Primary-Primary, #2a4467);
          font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 600;
          text-decoration: underline;
        }
      }

      .frame1618873920 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 24px;

        .termsConditions {
          flex-shrink: 0;
          line-height: 24px;
          letter-spacing: 0;
          color: var(--Primary-Primary, #2a4467);
          font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 600;
          text-decoration: underline;
        }
      }
    }
  }
}
