* {
  box-sizing: border-box;
}

.modalConfirmBooking {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 16px;
  background: #ffffff;
  padding: 32px;
  width: 700px;
  height: 1144px;
  overflow: hidden;
  row-gap: 24px;

  .frame1618873528 {
    display: flex;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;

    .text {
      flex-shrink: 0;
      line-height: 30px;
      letter-spacing: 0;
      color: var(--Text-Black, #0f0f0f);
      font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 600;
    }

    .cancel01 {
      flex-shrink: 0;
      width: 24px;
      height: 24px;
      overflow: hidden;
    }
  }

  .frame1618873795 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    row-gap: 16px;

    .input {
      flex-shrink: 0;
      align-self: stretch;
      line-height: 22px;
      letter-spacing: 0;
      color: var(--Text-Black, #0f0f0f);
      font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 500;
    }

    .text2 {
      flex-shrink: 0;
      opacity: 0.5;
      line-height: 22px;
      letter-spacing: 0;
      color: var(--Text-Grey, #6b6b6b);
      font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
    }

    .input3 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      border: 1px solid var(--Outline, #e5e7eb);
      border-radius: 8px;
      padding: 16px 15px;
      height: 48px;
      overflow: hidden;

      .arrowDown01Round {
        flex-shrink: 0;
        width: 20px;
        height: 20px;
        overflow: hidden;
      }
    }

    .formInput {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      row-gap: 12px;

      .input2 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 8px;
        border: 1px solid var(--Outline, #e5e7eb);
        border-radius: 8px;
        padding: 16px 15px;
        height: 48px;
        overflow: hidden;
      }
    }

    .formInput2 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      row-gap: 12px;
    }

    .frame1618873925 {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      column-gap: 16px;

      .formInput3 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;
        row-gap: 12px;
      }
    }

    .formInput4 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      row-gap: 12px;

      .input4 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        column-gap: 8px;
        border: 1px solid var(--Outline, #e5e7eb);
        border-radius: 8px;
        padding: 16px 15px;
        overflow: hidden;

        .text3 {
          flex-grow: 1;
          align-self: stretch;
          opacity: 0.5;
          width: 604px;
          line-height: 22px;
          letter-spacing: 0;
          color: var(--Text-Grey, #6b6b6b);
          font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
        }
      }
    }

    .frame1618873752 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      row-gap: 12px;

      .uploadFiles {
        flex-shrink: 0;
        align-self: stretch;
        line-height: 24px;
        letter-spacing: 0;
        color: var(--Text-Black, #0f0f0f);
        font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
      }

      .autoLayoutVertical {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        border: 1px solid var(--Primary-Primary, #2a4467);
        border-radius: 12px;
        padding: 47px 15px;
        row-gap: 16px;

        .cloudUpload {
          flex-shrink: 0;
          width: 48px;
          height: 48px;
          overflow: hidden;
        }

        .frame1618873796 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 8px;

          .dragDropOrClickToCho {
            flex-shrink: 0;
            align-self: stretch;
            text-align: center;
            line-height: 24px;
            letter-spacing: 0;
            color: var(--Primary-Primary, #2a4467);
            font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: 600;
          }

          .supportedFormatsDocp {
            flex-shrink: 0;
            align-self: stretch;
            text-align: center;
            line-height: 22px;
            letter-spacing: 0;
            color: var(--Text-Grey, #6b6b6b);
            font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
          }
        }
      }
    }

    .formInput5 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      row-gap: 12px;

      .content {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 64px;
        border-radius: 16px;
        background: var(--Background, #f9fafb);
        padding: 16px;

        .allowMultipleContrac {
          flex-grow: 1;
          line-height: 22px;
          letter-spacing: 0;
          color: var(--Text-Black, #0f0f0f);
          font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
        }

        .toggle {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          column-gap: 8px;

          .aToggleBase {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: flex-end;
            border-radius: 12px;
            background: var(--Primary-Primary, #2a4467);
            padding: 2px;
            width: 36px;
            overflow: hidden;

            .button {
              flex-shrink: 0;
              border-radius: 50%;
              box-shadow: var(
                --Shadow-sm,
                0px 1px 3px 0px #1018281a,
                0px 1px 2px 0px #1018280f
              );
              background: var(--Base-White, #ffffff);
              width: 16px;
              height: 16px;
            }
          }

          .text4 {
            flex-shrink: 0;
            line-height: 24px;
            letter-spacing: 0;
            color: var(--Gray-700, #344054);
            font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 500;
          }
        }
      }
    }
  }

  .frame1618873775 {
    display: flex;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    column-gap: 24px;

    .button2 {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      column-gap: 8px;
      border: 1px solid var(--Outline, #e5e7eb);
      border-radius: 12px;
      background: var(--Cancel, #f3f4f6);
      padding: 14px 15px;
      overflow: hidden;

      .text5 {
        flex-shrink: 0;
        line-height: 24px;
        letter-spacing: 0;
        color: var(--Text-Black, #0f0f0f);
        font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 600;
      }
    }

    .button3 {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      column-gap: 8px;
      border-radius: 12px;
      background: var(--Primary-Primary, #2a4467);
      padding: 15px 16px;
      overflow: hidden;

      .text6 {
        flex-shrink: 0;
        line-height: 24px;
        letter-spacing: 0;
        color: var(--white, #ffffff);
        font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
}
