* {
  box-sizing: border-box;
}

.emptyState {
  position: relative;
  width: 1440px;
  height: 1126px;

  .arrowDown01Round {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    overflow: hidden;
  }

  .text {
    flex-shrink: 0;
    line-height: 24px;
    letter-spacing: 0;
    color: var(--Text-Black, #0f0f0f);
    font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
  }

  .dashboard {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    background: var(--Background, #f9fafb);
    width: 240px;
    height: 1126px;

    .frame1618873575 {
      flex-shrink: 0;
      align-self: stretch;
      border-width: 0px 1px 1px 0px;
      border-style: solid;
      border-color: var(--Outline, #e5e7eb);
      height: 82px;
    }

    .menuItems {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      border-width: 0px 1px 0px 0px;
      border-style: solid;
      border-color: var(--Outline, #e5e7eb);
      padding-top: 78px;
      padding-bottom: 920px;

      .mentors {
        border-width: 0px 0px 0px 3px;
        border-style: solid;
        border-color: var(--Primary-Primary, #2a4467);
        background: var(--Primary-10, #2a44671a);
        width: 240px;
        height: 46px;
        overflow: hidden;
      }
    }
  }

  .headerBody {
    display: flex;
    position: absolute;
    top: 0;
    left: 240px;
    flex-direction: column;
    align-items: flex-start;
    width: 1200px;
    height: 1126px;

    .right {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: flex-end;
      column-gap: 24px;
      border-width: 0px 0px 1px;
      border-style: solid;
      border-color: var(--Outline, #e5e7eb);
      background: #ffffff;
      padding-right: 64px;
      width: 1200px;
      height: 82px;

      .menuItem {
        display: inline-flex;
        flex-grow: 1;
        flex-shrink: 0;
        align-items: center;
        column-gap: 12px;
        margin-left: 930px;
        border-radius: 12px;
        padding-right: 16px;
        padding-left: 16px;
        overflow: hidden;

        .avatar {
          flex-shrink: 0;
          border-radius: 50%;
          width: 40px;
          height: 40px;
        }
      }
    }

    .frame1618873579 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      background: #ffffff;
      padding: 48px 64px;
      overflow: hidden;
      row-gap: 32px;

      .frame1000004016 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        padding: 76px 544px 0px 272px;

        .frame1618873728 {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: flex-start;
          justify-content: center;
          border: 1px solid var(--Outline, #e5e7eb);
          border-radius: 8px;
          padding-right: 87px;
          padding-left: 23px;
          height: 112px;
          row-gap: 8px;

          .loremIpsum {
            flex-shrink: 0;
            align-self: stretch;
            line-height: 22px;
            letter-spacing: 0;
            color: var(--Text-Grey, #6b6b6b);
            font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 500;
          }

          .a614 {
            flex-shrink: 0;
            align-self: stretch;
            line-height: 34px;
            letter-spacing: 0;
            color: var(--Text-Black, #0f0f0f);
            font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 700;
          }
        }
      }

      .frame1618872986 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        border: 1px solid var(--Outline, #e5e7eb);
        border-radius: 12px;
        background: var(--white, #ffffff);

        .frame1618873723 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          margin-right: -1px;
          margin-left: -1px;
          border-width: 0px 0px 1px;
          border-style: solid;
          border-color: var(--outline, #e9e9eb);
          padding: 12px 649px 11px 123px;

          .input {
            border: 1px solid var(--Outline, #e5e7eb);
            border-radius: 8px;
            width: 300px;
            height: 48px;
            overflow: hidden;
          }
        }

        .frame1618873764 {
          display: flex;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          margin-right: -1px;
          margin-left: -1px;
          padding: 290px 345px 244px;

          .youDonTHaveAnyActive {
            width: 383px;
            text-align: center;
            line-height: 22px;
            letter-spacing: 0;
            color: var(--Text-Grey, #6b6b6b);
            font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
          }
        }
      }
    }

    .frame1000003366 {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      background: #ffffff;
      padding: 16px 64px;
      overflow: hidden;

      .poweredByAigProInc3 {
        flex-shrink: 0;
        line-height: 24px;
        letter-spacing: 0;
        color: #000000;
        font-size: 16px;

        .poweredByAigProInc {
          line-height: 24px;
          letter-spacing: 0;
          color: var(--Text-Grey, #6b6b6b);
          font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 600;
        }

        .poweredByAigProInc2 {
          line-height: 24px;
          letter-spacing: 0;
          color: var(--Primary-Primary, #2a4467);
          font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 600;
          text-decoration: underline;
        }
      }

      .frame1618873920 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 24px;

        .termsConditions {
          flex-shrink: 0;
          line-height: 24px;
          letter-spacing: 0;
          color: var(--Primary-Primary, #2a4467);
          font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 600;
          text-decoration: underline;
        }
      }
    }
  }

  .frame36893 {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    background: #00000033;
    padding-top: 48px;
    padding-bottom: 48px;
    width: 1440px;
    height: 1126px;

    .text7 {
      flex-shrink: 0;
      line-height: 22px;
      letter-spacing: 0;
      color: var(--Text-Black, #0f0f0f);
      font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 500;
    }

    .text3 {
      flex-shrink: 0;
      align-self: stretch;
      line-height: 24px;
      letter-spacing: 0;
      color: var(--Text-Black, #0f0f0f);
      font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 600;
    }

    .text5 {
      flex-shrink: 0;
      line-height: 22px;
      letter-spacing: 0;
      color: var(--Text-Black, #0f0f0f);
      font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 600;
    }

    .input2 {
      flex-shrink: 0;
      align-self: stretch;
      line-height: 22px;
      letter-spacing: 0;
      color: var(--Text-Black, #0f0f0f);
      font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 500;
    }

    .arrowDown01Round2 {
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      overflow: hidden;
    }

    .frame1618873528 {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;

      .text2 {
        flex-shrink: 0;
        line-height: 30px;
        letter-spacing: 0;
        color: var(--Text-Black, #0f0f0f);
        font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 600;
      }
    }

    .input5 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      border: 1px solid var(--Outline, #e5e7eb);
      border-radius: 8px;
      padding: 16px 15px;
      height: 48px;
      overflow: hidden;
    }

    .formInput4 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      row-gap: 12px;
    }

    .formInput {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      row-gap: 12px;
    }

    .formInput2 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-start;
      row-gap: 12px;
    }

    .frame1618873867 {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;

      .button {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        column-gap: 8px;
        border: 1px solid var(--Outline, #e5e7eb);
        border-radius: 12px;
        padding: 14px 15px;
        overflow: hidden;
      }

      .frame1618873796 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        column-gap: 24px;
        width: 400px;

        .button2 {
          display: flex;
          flex-grow: 1;
          align-items: center;
          justify-content: center;
          column-gap: 8px;
          border: 1px solid var(--Outline, #e5e7eb);
          border-radius: 12px;
          background: var(--Cancel, #f3f4f6);
          padding: 14px 15px;
          overflow: hidden;
        }

        .button3 {
          display: flex;
          flex-grow: 1;
          align-items: center;
          justify-content: center;
          column-gap: 8px;
          border-radius: 12px;
          background: var(--Primary-Primary, #2a4467);
          padding: 15px 16px;
          overflow: hidden;

          .text6 {
            flex-shrink: 0;
            line-height: 24px;
            letter-spacing: 0;
            color: var(--white, #ffffff);
            font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: 600;
          }
        }
      }
    }

    .frame1618873938 {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      column-gap: 16px;

      .formInput3 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;
        row-gap: 12px;

        .input4 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 8px;
          border: 1px solid var(--Outline, #e5e7eb);
          border-radius: 8px;
          padding: 16px 15px;
          height: 48px;
          overflow: hidden;
        }
      }
    }

    .frame1618873927 {
      display: inline-flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      row-gap: 50px;

      .text4 {
        flex-shrink: 0;
        opacity: 0.5;
        line-height: 22px;
        letter-spacing: 0;
        color: var(--Text-Grey, #6b6b6b);
        font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }

      .modalConfirmBooking {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        justify-content: center;
        border-radius: 16px;
        background: #ffffff;
        padding: 32px;
        overflow: hidden;
        row-gap: 24px;

        .frame1618873822 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 16px;

          .input3 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 8px;
            border: 1px solid var(--Outline, #e5e7eb);
            border-radius: 8px;
            padding: 16px 15px;
            height: 48px;
            overflow: hidden;
          }
        }
      }

      .formInput5 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        border-radius: 18px;
        background: #ffffff;
        padding: 24px 14px;
        width: 536px;
        row-gap: 12px;

        .paymentTerm {
          flex-shrink: 0;
          width: 600px;
          line-height: 22px;
          letter-spacing: 0;
          color: var(--Text-Black, #0f0f0f);
          font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
        }

        .input6 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          border: 1px solid var(--Primary-Primary, #2a4467);
          border-radius: 8px;
          padding: 16px 15px;
          height: 48px;
          overflow: hidden;
        }

        .frame1618873678 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          border-radius: 12px;
          box-shadow: -1px 2px 4px 0px #001a2b0d;
          background: var(--white, #ffffff);
          overflow: hidden;

          .input7 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 8px;
            background: var(--Background, #f9fafb);
            padding: 17px 16px;
            overflow: hidden;
          }

          .text8 {
            flex-shrink: 0;
            align-self: stretch;
            padding: 17px 16px;
            width: 508px;
            overflow: hidden;
            line-height: 22px;
            letter-spacing: 0;
            color: var(--Text-Black, #0f0f0f);
            font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 500;
          }
        }
      }
    }

    .modalConfirmBooking2 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      justify-content: center;
      border-radius: 16px;
      background: #ffffff;
      padding: 32px;
      overflow: hidden;
      row-gap: 24px;

      .frame1618873923 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-end;
        align-self: stretch;
        row-gap: 24px;

        .frame16188738222 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 16px;

          .formInput6 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            row-gap: 12px;

            .input8 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              justify-content: space-between;
              border: 1px solid var(--Outline, #e5e7eb);
              border-radius: 8px;
              padding: 16px 15px;
              height: 48px;
              overflow: hidden;
            }
          }
        }

        .frame1618873823 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 16px;

          .formInput7 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            row-gap: 12px;

            .frame1618873839 {
              display: flex;
              flex-shrink: 0;
              align-items: flex-start;
              align-self: stretch;
              justify-content: space-between;

              .frame1618873840 {
                display: inline-flex;
                flex-shrink: 0;
                align-items: center;
                justify-content: center;
                column-gap: 8px;

                .removeMilestone {
                  flex-shrink: 0;
                  line-height: 22px;
                  letter-spacing: 0;
                  color: var(--Status-Error, #e53935);
                  font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 14px;
                  font-weight: 700;
                }
              }
            }
          }

          .frame1618873821 {
            display: flex;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            column-gap: 16px;
          }
        }

        .metricItem {
          display: inline-flex;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          column-gap: 8px;
          margin-left: 479px;
          border: 1px solid var(--Gray-200, #eaecf0);
          border-radius: 12px;
          background: var(--Base-White, #ffffff);
          padding: 9px 15px;

          .text9 {
            flex-shrink: 0;
            line-height: 24px;
            letter-spacing: 0;
            color: var(--Primary-1, #001a2b);
            font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 500;
          }
        }
      }
    }
  }
}
