* {
  box-sizing: border-box;
}

.frame36894 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #00000033;
  padding-top: 48px;
  padding-bottom: 48px;
  width: 1440px;
  height: 1234px;
  row-gap: 70px;

  .modalConfirmBooking {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-end;
    align-self: stretch;
    justify-content: center;
    margin-right: 120px;
    margin-left: 120px;
    border-radius: 16px;
    background: #ffffff;
    padding: 32px;
    overflow: hidden;
    row-gap: 24px;

    .text2 {
      flex-shrink: 0;
      line-height: 24px;
      letter-spacing: 0;
      color: var(--Text-Black, #0f0f0f);
      font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 600;
    }

    .text {
      flex-shrink: 0;
      align-self: stretch;
      width: 1136px;
      height: 30px;
      line-height: 30px;
      letter-spacing: 0;
      color: var(--Text-Black, #0f0f0f);
      font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 600;
    }

    .frame1618873794 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      justify-content: center;
      row-gap: 8px;

      .addWithEmailAddressN {
        flex-shrink: 0;
        align-self: stretch;
        line-height: 22px;
        letter-spacing: 0;
        color: var(--Primary-Primary, #2a4467);
        font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 500;
      }
    }

    .frame1618872981 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      overflow: hidden;
      row-gap: 12px;

      .frame1618873909 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        justify-content: space-between;

        .text9 {
          flex-shrink: 0;
          line-height: 22px;
          letter-spacing: 0;
          color: var(--Status-Completed, #286ee0);
          font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 600;
        }
      }

      .frame1618873899 {
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        opacity: 0.3;
        row-gap: 10px;

        .aCheckboxBase2 {
          flex-shrink: 0;
          border: 2px solid var(--Outline, #e5e7eb);
          border-radius: 12px;
          background: var(--White, #ffffff);
          width: 24px;
          height: 24px;
          overflow: hidden;
        }
      }

      .input2 {
        display: flex;
        flex-grow: 1;
        align-items: flex-start;
        column-gap: 8px;
        border: 1px solid var(--Outline, #e5e7eb);
        border-radius: 8px;
        padding: 16px 15px;
        overflow: hidden;

        .text7 {
          flex-grow: 1;
          align-self: stretch;
          opacity: 0.5;
          width: 492px;
          line-height: 22px;
          letter-spacing: 0;
          color: var(--Text-Grey, #6b6b6b);
          font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
        }
      }

      .input {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 8px;
        border: 1px solid var(--Outline, #e5e7eb);
        border-radius: 8px;
        background: var(--Cancel, #f3f4f6);
        padding: 10px 15px;
        width: 200px;
        overflow: hidden;

        .text6 {
          flex-shrink: 0;
          line-height: 22px;
          letter-spacing: 0;
          color: var(--Text-Black, #0f0f0f);
          font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
        }
      }

      .frame1618873900 {
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        row-gap: 10px;

        .aCheckboxBase {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          border: 2px solid var(--Primary-Primary, #2a4467);
          border-radius: 12px;
          background: var(--Primary-50, #f9f5ff);
          padding: 6px;
          overflow: hidden;

          .check {
            border-radius: 50%;
            background: var(--Primary-Primary, #2a4467);
            width: 9px;
            height: 9px;
          }
        }
      }

      .frame1618873085 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 32px;
        border-width: 0px 0px 1px;
        border-style: solid;
        border-color: var(--Outline, #e5e7eb);
        background: var(--Background, #f9fafb);
        padding: 8px 24px 7px;

        .text3 {
          flex-shrink: 0;
          padding: 8px 0px;
          width: 200px;
          line-height: 22px;
          letter-spacing: 0;
          color: var(--Primary-Primary, #2a4467);
          font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 600;
        }

        .text4 {
          flex-shrink: 0;
          padding: 8px 0px;
          width: 441px;
          text-align: center;
          line-height: 22px;
          letter-spacing: 0;
          color: var(--Primary-Primary, #2a4467);
          font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 600;
        }

        .frame1618872988 {
          display: flex;
          flex-grow: 1;
          align-items: center;
          justify-content: center;
          column-gap: 10px;
          padding-top: 8px;
          padding-bottom: 8px;

          .text5 {
            flex-shrink: 0;
            line-height: 22px;
            letter-spacing: 0;
            color: var(--Primary-Primary, #2a4467);
            font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 600;
          }

          .informationCircle {
            flex-shrink: 0;
            width: 20px;
            height: 20px;
            overflow: hidden;
          }
        }
      }

      .frame1618873060 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        column-gap: 32px;
        padding-right: 24px;
        padding-left: 24px;

        .frame1618873839 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          padding-top: 8px;
          padding-bottom: 8px;
          overflow: hidden;
          row-gap: 24px;

          .frame1618873904 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            justify-content: space-between;

            .text8 {
              flex-shrink: 0;
              line-height: 22px;
              letter-spacing: 0;
              color: #374151;
              font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 14px;
              font-weight: 600;
            }
          }
        }
      }

      .frame1618873081 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        column-gap: 32px;
        padding-right: 24px;
        padding-left: 24px;

        .frame16188738392 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          padding-top: 8px;
          padding-bottom: 8px;
          overflow: hidden;
          row-gap: 24px;

          .frame16188739042 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            justify-content: space-between;
          }
        }
      }
    }

    .frame1618873867 {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;

      .button {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        column-gap: 8px;
        border: 1px solid var(--Outline, #e5e7eb);
        border-radius: 12px;
        padding: 14px 15px;
        overflow: hidden;
      }

      .frame1618873796 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        column-gap: 24px;
        width: 400px;

        .button2 {
          display: flex;
          flex-grow: 1;
          align-items: center;
          justify-content: center;
          column-gap: 8px;
          border: 1px solid var(--Outline, #e5e7eb);
          border-radius: 12px;
          background: var(--Cancel, #f3f4f6);
          padding: 14px 15px;
          overflow: hidden;
        }

        .button3 {
          display: flex;
          flex-grow: 1;
          align-items: center;
          justify-content: center;
          column-gap: 8px;
          border-radius: 12px;
          background: var(--Primary-Primary, #2a4467);
          padding: 15px 16px;
          overflow: hidden;

          .text10 {
            flex-shrink: 0;
            line-height: 24px;
            letter-spacing: 0;
            color: var(--white, #ffffff);
            font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: 600;
          }
        }
      }
    }
  }

  .hoverStat {
    display: flex;
    position: absolute;
    top: 61px;
    left: 1065px;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    border-radius: 12px;
    background: var(--Primary-Primary, #2a4467);
    padding: 12px;
    width: 284px;
    height: 146px;
    row-gap: 8px;

    .name {
      flex-shrink: 0;
      align-self: stretch;
      line-height: 18px;
      letter-spacing: 0;
      color: #ffffff;
      font-family: Geist, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 12px;
      font-weight: 600;
    }

    .amount {
      flex-shrink: 0;
      align-self: stretch;
      width: 260px;
      line-height: 22px;
      letter-spacing: 0;
      color: #ffffff;
      font-family: Quicksand, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 500;
    }
  }
}
